server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      routes:
        - id: product-service
          uri: ${PRODUCT_SERVICE_URL:http://localhost:8081}
          predicates:
            - Path=/api/products/**,/products/**
          filters:
            - StripPrefix=1

        - id: cart-service
          uri: ${CART_SERVICE_URL:http://localhost:8082}
          predicates:
            - Path=/api/cart/**,/cart/**
          filters:
            - StripPrefix=1

        - id: order-service
          uri: ${ORDER_SERVICE_URL:http://localhost:8083}
          predicates:
            - Path=/api/orders/**,/orders/**
          filters:
            - StripPrefix=1

        - id: inventory-service
          uri: ${INVENTORY_SERVICE_URL:http://localhost:8084}
          predicates:
              - Path=/api/inventory/**,/inventory/**
          filters:
              - StripPrefix=1
        

  main:
    web-application-type: reactive

  profiles:
    active: ${SPRING_PROFILES_ACTIVE:default}

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,gateway

logging:
  level:
    org.springframework.cloud.gateway: INFO   # DEBUG solo cuando depures

  web:
    cors:
      allowed-origins: "*"
      allowed-methods: "*"
      allowed-headers: "*"