server:
  port: 8091

spring:
  application:
    name: shipping-service

  datasource:
    url: jdbc:postgresql://localhost:5432/shipping_db
    username: shipping_user
    password: ShippingPass123!
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics