server:
  port: 8081

spring:
  application:
    name: product-service

  datasource:
    url: jdbc:postgresql://localhost:5432/ecommerce_product
    username: ecommerce_user         
    password: ecommerce_pass          
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update                
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics