server:
  port: 8081

spring:
  application:
    name: product-service

  data:
    mongodb:
      uri: mongodb://product_user:Product123@localhost:27017/ecommerce_product?authSource=ecommerce_product

  profiles:
    active: ${SPRING_PROFILES_ACTIVE:default}

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics