server:
  port: 8082

spring:
  application:
    name: cart-service

  datasource:
    url: jdbc:postgresql://localhost:5432/ecommerce_cart
    username: ecommerce_cart_user
    password: CartPass123!
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  profiles:
    active: ${SPRING_PROFILES_ACTIVE:default}

product-service:
  url: ${PRODUCT_SERVICE_URL:http://localhost:8081}

inventory-service:
  url: ${INVENTORY_SERVICE_URL:http://localhost:8084}

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics